/*=============公共样式==============*/
*{margin:0;padding:0;}
img { border: 0 none; vertical-align: center; }
ul, li { list-style-type: none; margin:0px; padding:0px;}
h1, h2, h3, h4, h5, h6 { font-size: 14px; }
body, input, select, button, textarea { font-size: 12px; font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei"}
button { cursor: pointer; }
i, em, cite { font-style: normal; }
aside section,.body{display:block; width:1000px; margin:0 auto;}
a, a:link { color: #000; text-decoration: none; }/*设置a标签基本样式与伪类选择器设置*/
a:visited {}
a:active, a:hover { text-decoration: none; color:#BC2E2E; }
a:focus { outline: none; } 
.orange { color:#F26E01;}		/* 常用颜色 */

.clear {
	clear:both;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}